* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
}

/*   Navber section start  */

.menu-section {
    position: fixed;
    width: 100%;
    height: 80px;
}

.navber-img {
    width: 200px;
}

.header-btn {
    border: 1px solid #00457f;
    font-weight: 500;
    color: #00457f;
    margin: 0 8px;
    margin-top: -10px;
    padding: 8px 18px;
    transition: 0.5s;
}

.header-btn:hover {
    border: 1px solid #174f7e;
    font-weight: 500;
    color: #0e8cf3;
    margin: 0 8px;
    margin-top: -10px;
    padding: 8px 18px;
}

.header-btn-2 {
    background-color: #00457f;
    color: white;
    font-weight: 500;
    margin-left: 8px;
    margin-top: -10px;
    padding: 8px 22px;
    transition: 0.5s;
}

.header-btn-2:hover {
    background-color: #0e8cf3;
    color: white;
    font-weight: 500;
    margin-left: 8px;
    margin-top: -10px;
    padding: 8px 22px;
}


.navber-link {
    color: #00457f;
    text-decoration: none;
    margin: 12px 8px;
    font-weight: 500;
}

.navber-link:hover {
    color: #3b82bd;
    text-decoration: none;
    margin: 12px 8px;
    font-weight: 500;
}

.main-navber {
    box-shadow: 2px 2px 2px rgb(224, 212, 212);
}

/*  Navber section end  */

/* header section start */

.header-page {
    background-image: url(About-img/header-img/About-Us-Hero.jpg);
    height: 560px;
    width: 100%;
}

.header-page-text {
    color: white;
    font-size: 52px;
    font-weight: bold;
    margin-top: 280px;
}

/* header section end */

/* center section start */

.center-page-header-text {
    font-size: 52px;
    font-weight: bold;
    color: #00457f;
    margin-top: 80px;
    margin-bottom: 30px;
}

.center-page-body-text {
    font-size: 28px;
    font-weight: bold;
    color: #00457f;
    margin-bottom: 80px;
}

/* center section end */

/* center section-2 start */

.center-page-2 {
    margin-bottom: 40px;
}

.center-page-img {
    width: 100%;
}

.certer-container {
    background-color: #00457f;
}

.center-page-btn {
    color: white;
    background-color: #f56357;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 38px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 20px 48px;
}

.center-page-btn:hover {
    color: white;
    background-color: #0e8cf3;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 38px;
    border-radius: 30px;
    margin: 20px 48px;
}

.center-page-header-text-2 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 27px 0;
}

.center-page-body-text-2 {
    color: white;
    font-size: 20px;
    margin: 0 48px;
    margin-top: 20px;
    bottom: 10px;
}

/* center section-2 end */
.carl-img{
    width: 100%;
    height: 85px;
}
/* center section-3 start */

.center-page-3 {
    background-color: #E2E5E5;
}

.center-page-header-text-3 {
    color: #00457f;
    font-size: 43px;
    font-weight: bold;
    padding-top: 70px;
    margin-bottom: 50px;
}

.main-card {
    background-color: white;
    margin: 20px 5px;
    height: 220px;
    border-top: 10px solid #00457f;
}

.card-header-text {
    color: #00457f;
    margin-top: 50px;
    font-size: 26px;
    font-weight: bold;

}

.card-body-text {
    color: #00457f;
    font-style: italic;
    font-size: 19px;
}

.card-icon {
    color: #00b0cc;
    font-size: 25px;
}

.center-page-last-card {
    padding-bottom: 80px;
}

/* center section-3 end */

/* center section-4 start */

.center-page-4 {
    margin-bottom: 120px;
}

.main-card-2 {
    height: 260px;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
    border-top: 10px solid #00B0CC;
    margin: 20px 5px;
}

.main-card-3 {
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
    border-top: 10px solid #00B0CC;
    margin: 20px 5px;
    height: 300px;
}

.center-page-card-img {
    width: 140px;
}

.center-page-card-img-2 {
    width: 210px;
}

.center-page-card-img-3 {
    width: 210px;
}

.center-page-card-img-4 {
    width: 190px;
    margin-top: 10px;
}

.center-page-card-img-5 {
    width: 200px;
}

.center-page-card-img-6 {
    width: 145px;
}

.center-page-card-img-7 {
    width: 150px;
}


.center-page-card-img-7-2 {
    width: 150px;
}

.center-page-card-img-8 {
    width: 210px;
}

.center-page-card-img-9 {
    width: 210px;
}

.card-body-text-2 {
    color: #00457f;
    font-style: italic;
    font-size: 19px;
    padding: 0 20px;
}

/* center section-4 end */

/*  center section-5 start  */

.center-page-7 {
    background-color: #E2E5E5;
}

.last-hr{
    margin-top: 80px;
    width: 115px;
    height: 3px;
  
}

.center-page-header-text-4 {
    color: #00457f;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: -27px;
}

.form-btn {
    background-color: #f56357;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    transition: 0.5s;
}

.form-btn:hover {
    background-color: #832b23;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
}

.form {
    padding-bottom: 100px;
}

/*  center section-5 end  */

/*  last section start  */

.last-page {
    background-color: #00457f;
}

.last-page-logo {
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-right: 1px solid white;
    width: 180px;
}

.last-page-container {
    padding-top: 60px;
}

.last-page-text {
    color: white;
    margin-top: 12px;
    margin-left: 20px;
    font-style: italic;
}

.last-page-btn {
    background-color: #f56357;
    color: white;
    padding: 8px 43px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 20px;
}

.last-page-btn:hover {
    background-color: #00b0cc;
    color: white;
    padding: 8px 43px;
    border-radius: 30px;
}

.last-page-btn-2 {
    border: 1px solid white;
    padding: 8px 70px;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 20px;
}

.last-page-btn-2:hover {
    border: 1px solid white;
    padding: 8px 70px;
    color: white;
    border-radius: 30px;
}

.last-page-text-2 {
    color: white;
    font-size: 17px;
}

.last-page-body-text {
    margin: 10px 0;
}

.last-page-header-text {
    margin-bottom: 20px;
}

.icons {
    color: white;
    font-size: 25px;
    margin-top: 50px;
    padding-right: 20px;
}

.icons-2 {
    margin: 5px;
}

.last-page-text-3 {
    color: white;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin: 30px 0;
}

.last-page-container-text {
    color: white;
    font-size: 14px;
    font-style: italic;
    margin: 5px 0;
    margin-right: 40px;
}

.last-page-logo-img {
    height: 30px;
    margin: 40px 20px;
}

.last-page-last-container {
    padding-bottom: 80px;
}

/*  last section end  */

@media (max-width: 768px) {
    .navber-img-main{
        display: none;
    }
 }

 @media (min-width: 768px) {
    .mubail-navber{
        display: none;
    }
 }

 .navber-img {
    width: 200px;
}

.navber-img-main {
    width: 200px;
}
