* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-section {
    background-image: url(Sign-in-img/bg-img/bg.jpg);
    background-size: cover;
    width: 100vw;
    height: auto;
    background-attachment: fixed;

}

.form-section {
    background-color: white;
    height: 615px;
}

.header-img {
    margin-top: 140px;
    margin-bottom: 40px;
}

.center-btn {
    background-color: #003661;
    color: white;
    font-weight: bold;
    padding: 6px 38px;
    margin-bottom: 15px;
}

.center-btn:hover {
    background-color: #316d9e;
    color: white;
    font-weight: bold;
    padding: 6px 38px;
    margin-bottom: 15px;
}

.btn-1 {
    color: #4a90a2;
    font-weight: 400;
    margin-right: 20px;
}

.btn-2 {
    color: #4a90a2;
    font-weight: 400;
    margin-left: 20px;
}

.relative-input {
    border: 1px solid black;
    border-radius: 5px;
    width: 380px;
    margin: 0 auto;
}

.icon-btn {
    border-right: 1px solid black;
    padding: 5px 10px;
}

input {
    padding: 5px;
    border: none;
}